.page-sub-header {
  color: #fff;
  text-align: center;
  background: #159957;
  margin: 0;

  .btn {
    display: inline-block;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;

    & + .btn {
      margin-left: 1rem;
    }

    &:hover {
      color: rgba(255, 255, 255, 0.8);
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0.2);
      border-color: rgba(255, 255, 255, 0.3);
    }

    @media screen and (min-width: 64em) {
      & {
        padding: 0.75rem 1rem;
      }
    }

    @media screen and (min-width: 42em) and (max-width: 64em) {
      & {
        padding: 0.6rem 0.9rem;
        font-size: 0.9rem;
      }
    }

    @media screen and (max-width: 42em) {
      & {
        display: block;
        width: 100%;
        padding: 0.75rem;
        font-size: 0.9rem;
      }
      & + .btn {
        margin-top: 1rem;
        margin-left: 0;
      }
    }

  }

  @media screen and (min-width: 64em) {
    & {
      padding: 0.5rem 1rem;
    }
  }

  @media screen and (min-width: 42em) and (max-width: 64em) {
    & {
      padding: 0.5rem 1rem;
    }
  }

  @media screen and (max-width: 42em) {
    & {
      padding: 0.5rem 1rem;
    }
  }

}