<h1 id="roadmap">Roadmap</h1>
<blockquote>
<p><strong>Note</strong>: it might be a better idea to follow
 <a href="https://github.com/mmnaseri/spring-data-mock/milestones">the milestones</a>
 and features rather than read this document, since I might at times
 not have the time to update the roadmap after curating the list of features and
 planned resolutions.</p>
</blockquote>
<h2 id="trivial">Trivial</h2>
<p>Nothing is at the works right now.</p>
<h2 id="minor">Minor</h2>
<p>Nothing is at the works right now.</p>
<h2 id="major">Major</h2>
<p>Nothing is at the works right now.</p>
