body {
  padding: 0;
  margin: 0 0 200px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71;
}

.container {

  h1:first-of-type {
    border-bottom: 2px #e4e4e4 solid;
    padding-bottom: 7px;
  }

}

p {
  text-align: justify;
  line-height: 24px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

div.header {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 20px;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -ms-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
  a {
    color: #ededed;
    cursor: pointer;
  }
  &:hover a {
    color: #9d9d9d;
  }
  &.highlighted {
    background-color: #ffffe0;
  }
  &.header-1 {
    font-size: 32px;
  }
  &.header-2 {
    font-size: 28px;
  }
  &.header-3 {
    font-size: 22px;
  }
  &.header-4 {
    font-size: 18px;
  }
  &.header-5 {
    font-size: 16px;
  }
  &.header-6 {
    font-size: 12px;
  }
}

a.jump-top {
  display: block;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  background: #717171;
  color: #f5f5f5;
  text-align: center;
  padding-top: 8px;
  border-radius: 5px;
  opacity: 0.3;
  &:hover {
    opacity: 1;
  }
}

.alert .header {
  margin-top: 0;
}

@import "parts/header.scss";
@import "parts/sub-header.scss";
@import "parts/zenburn.scss";
@import "parts/footer.scss";